<?xml version="1.0" encoding="utf-8"?>
<!-- 图片上传配置项 -->
<ImageUploadBaseConfig>
  <!-- 可上传图片的扩展名 -->
  <AllowExtension>.gif,.jpg,.jpeg,.png,.bmp</AllowExtension>
  <!-- 可上传图片的大小（KB） -->
  <MaxSize>4096</MaxSize>
  <!-- 图片保存目录 -->
  <SavePath>/UploadFiles/images</SavePath>
  <!-- 图片压缩保存目录 -->
  <SaveCompressPath>/UploadFiles/DisZip</SaveCompressPath>
  <!-- 需要打包的文件存放在此文件夹 -->
  <SaveTempPath>/UploadFiles/Temp</SaveTempPath>
  <!-- 图片处理模式: None（不处理）、Cut（等比缩放裁剪）、Zoom（等比缩放不变形）、Stretch（拉伸变形） -->
  <Mode>None</Mode>
  <!-- 图片处理后是否删除原图 -->
  <DelOriginalPhoto>false</DelOriginalPhoto>
  <!-- 图片质量1-100 -->
  <Quality>50</Quality>
  <!-- 图片处理后的宽 -->
  <Width>1000</Width>
  <!-- 图片处理后的高 -->
  <Height>200</Height>
</ImageUploadBaseConfig>