<?xml version="1.0" encoding="utf-8"?>
<!-- 系统配置项 -->
<SettingsConfig>
  <!-- 站点名称 -->
  <SiteName>素材资源管理系统</SiteName>  
  <!--┏登录验证配置┓-->
  <!-- 后台管理员登录时保存的cookie的key -->
  <AdminLoginCookieKey>UI.ADMIN.ASPXAUTH</AdminLoginCookieKey>
  <!-- 前台用户登录时保存的cookie的key -->
  <WebLoginCookieKey>UI.Web.ASPXAUTH</WebLoginCookieKey>
  <!-- 超级管理员账号（此账号拥有后台管理的所有权限） -->
  <SuperAdminAccount>administrator</SuperAdminAccount>
  <!-- 超级管理员密码 -->
  <SuperAdminPassword>13620535450</SuperAdminPassword>
  <!-- 后台管理员登录时保存的Session的key -->
  <add key="LoginSessionKey" value="LOGIN_SESSION_KEY" />
  <!--┗登录验证配置┛-->
  <!-- 默认页 -->
  <DefaultPage>/Home/Index</DefaultPage>
  <!-- 版本号 -->
  <Version>1.0.0.1</Version>
</SettingsConfig>