<ul class="nav nav-tabs navs-3">
	<li class="active">
		<a data-toggle="tab" href="#tab-1">
			未完成
		</a>
	</li>
	<li class="">
		<a data-toggle="tab" href="#tab-2">
			已完成
		</a>
	</li>
</ul>
<div class="tab-content">
	<div id="tab-1" class="tab-pane active">
		<div>
			<div class="sidebar-collapse" role="navigation">
				<ul class="nav drop-menu metismenu" id="side-menu11">
					<li style="height: 10px;background-color: #fff;"></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="tab-2" class="tab-pane">
		<div class="sidebar-collapse" role="navigation">
			<ul class="nav drop-menu metismenu" id="side-menu2">
				<li style="height: 10px;background-color: #fff;"></li>
			</ul>
		</div>
	</div>
	<div class="close-sidebar">关闭</div>
</div>