<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--┏SQL数据库配置┓-->
		<add key="SQLConnections" value="SQLConnection1" />
		<add key="SQLConnection1" value="Data Source=192.168.0.101\MRM;User Id=sa;Password=123456;Initial Catalog=MRM;" />
		<!--是否输出SQLScript到Log-->
		<add key="SQLScriptWriteLog" value="true"/>
		<!--输出SQLScript到Log的目录-->
		<add key="SQLScriptWriteLogPath" value="/Web/Log/"/>
		<!--输出SQLScript到Log的文件扩展名-->
		<add key="SQLScriptWriteLogExtension" value=".SQL.LOG"/>
		<!--┗SQL数据库配置┛-->

		<!--┏一般配置┓-->
		<!--可以输出给客户端的Config配置项目的Key-->
		<add key="OutputConfigKeys" value="AppTitle,UploadRootPath" />
		<!--┏输出给客户端配置项目┓-->
		<add key="AppTitle" value="素材资源管理(Material resource management)" />
		<!--上传文件的根目录-->
		<add key="UploadRootPath" value="/Web/Upload/"/>
		<!--┗一般配置┛-->

		<!--┏错误日志配置┓-->
		<!--是否输出Error到Log-->
		<add key="ErrorWriteLog" value="true" />
		<!--输出Error到Log的目录-->
		<add key="ErrorWriteLogPath" value="/Web/Log/" />
		<!--输出Error到Log的文件扩展名-->
		<add key="ErrorWriteLogExtension" value=".ERR.LOG" />
		<!--输出Error到的Log中不输出的RequestForm参数-->
		<add key="ErrorWriteLogRequestFormClear" value="*.Content"/>
		<!--┗错误日志配置┛-->

		<!--┏页面配置┓-->
		<!--页面输出的数据是否回车换行-->
		<add key="PageDataFormat" value="json"/>
		<!--页面输出的数据是否回车换行-->
		<add key="PageDataIsEnter" value="true"/>
		<!--页面输出的数据类型-->
		<add key="PageDataType" value="text/html"/>
		<!--页面输出的数据编码-->
		<add key="PageDataCharset" value="UTF-8"/>
		<!--页面的Post从Get获取数据-->
		<add key="PagePostByGet" value="false"/>
		<!--是否输出PageLog到Log-->
		<add key="PageLogWriteLog" value="true"/>
		<!--输出PageLog到Log的目录-->
		<add key="PageLogWriteLogPath" value="/Web/Log/"/>
		<!--输出PageLog到Log的文件扩展名-->
		<add key="PageLogWriteLogExtension" value=".URL.LOG"/>
		<!--输出PageLog到的Log中不输出的RequestForm参数-->
		<add key="PageLogWriteLogRequestFormClear" value="*.Content"/>
		<!--是否启用Post/Get的Data数据加解密-->
		<add key="PageDataEncryptDecryptEnabled" value="true" />
		<!--是否启用Post/Get的Data数据校验-->
		<add key="PageDataMD5LicenseEnabled" value="true" />
		<!--允许Post/Get的Data数据校验 Licenses，MD5(DATA+License)选任意一个校验比对，不多于5个-->
		<add key="PageDataMD5Licenses" value="00000000,11111111,22222222,33333333,44444444" />
		<!--┗页面配置┛-->

		<!--┏Code┓-->
		<!--AES Key>16位，IV>16位-->
		<add key="CodeAESKey" value="1234567890123456"/>
		<add key="CodeAESIV"  value="1234567890123456"/>
		<!--DES Key>8位，IV>8位-->
		<add key="CodeDESKey" value="12345678"/>
		<add key="CodeDESIV"  value="12345678"/>
		<!--┗Code┛-->

	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off"/>
		<pages validateRequest="false" />
	</system.web>
</configuration>
